<a href="https://colab.research.google.com/github/Anusuya840/Streamlit-bookstore-app/blob/main/BookScape_Explorer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.2.0)

In [4]:
import mysql.connector
import requests
import json
import pandas as pd
from mysql.connector import Error

In [5]:
connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "4ABAUzjWF71mucC.root",
  password = "1vVrWbTp2oLR6led",
  database = "book_store",

)

cursor = connection.cursor()
#cursor.execute("drop table books")

In [ ]:
API_KEY = "AIzaSyAiGRmZnQrcmudpjwRMOtY3s4UUaCvKz58"
API_URL = "https://www.googleapis.com/books/v1/volumes"





def fetch_books_data():
    """Fetches book data from Google Books API."""
    books = []
    start_index = 0
    max_results = 40  # Maximum results per API call

    while len(books) < 1000:
        params = {
            "q": "sql,python",  # Search term
            "startIndex": start_index,
            "maxResults": max_results,
            "key": API_KEY
        }
        response = requests.get(API_URL, params=params)
        data = response.json()

        if "items" not in data:
            break

        for item in data["items"]:
            book = {
                "title": item["volumeInfo"].get("title", "N/A"),
                "authors": ", ".join(item["volumeInfo"].get("authors", [])),
                "publisher": item["volumeInfo"].get("publisher", "N/A"),
                "published_date": item["volumeInfo"].get("publishedDate", "N/A"),
                "description": item["volumeInfo"].get("description", "N/A"),
                "text_reading_modes": item["volumeInfo"].get("readingModes", {}).get("text", False),
                "image_links": item["volumeInfo"].get("imageLinks", "N/A"),
                "averagerating": item["volumeInfo"].get("averageRating", "N/A"),
                "ratingscount": item["volumeInfo"].get("ratingsCount", "N/A"),
                "language": item["volumeInfo"].get("language", "N/A"),
                "preview_link": item["volumeInfo"].get("previewLink", "N/A"),
                "canonical_volume_link": item["volumeInfo"].get("canonicalVolumeLink", "N/A"),
                "amount_retail_price": item["saleInfo"].get("retailPrice", {}).get("amount", "N/A"),
                "amount_list_price": item["saleInfo"].get("listPrice", {}).get("amount", "N/A"),
                "buy_link": item["saleInfo"].get("buyLink", "N/A"),
                "page_count": item["volumeInfo"].get("pageCount", "N/A"),
                "year_published": item["volumeInfo"].get("publishedDate", "N/A") ,
                "book_format": item["volumeInfo"].get("printType", "N/A"),
                "country": item["saleInfo"].get("country", "N/A")
            }
            books.append(book)

            if len(books) >= 1000:
                break

        start_index += max_results

    return books

#print(books) # this line will cause an error because 'books' is not defined outside the function.
def create_books_table(books):
    """Creates a table in TiDB."""

    create_table_query = """
        CREATE TABLE books (
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(255),
            authors VARCHAR(255),
            publisher VARCHAR(255),
            published_date VARCHAR(50),
            description TEXT,
            text_reading_modes TINYINT(1),
            image_links TEXT,
            averagerating FLOAT,
            ratingscount INT,
            language VARCHAR(10),
            preview_link TEXT,
            canonical_volume_link TEXT,
            amount_retail_price TEXT,
            amount_list_price TEXT,
            buy_link TEXT,
            page_count INT,
            year_published VARCHAR(20),
            book_format VARCHAR(20) ,
            country VARCHAR(20)
   );
    """
    try:
        cursor.execute(create_table_query)
        connection.commit()
        print("Table 'books' created successfully.")
    except Exception as e: # Catching a generic exception for demonstration
        print(f"Error creating table: {e}")

books_data = fetch_books_data()
create_books_table(books_data)

In [ ]:
cursor.execute("ALTER TABLE books MODIFY COLUMN year_published INT NULL");

In [ ]:
cursor.execute("UPDATE books SET book_format = 'ebook' WHERE book_format NOT IN ('ebook', 'physical');")
connection.commit()
cursor.execute("ALTER TABLE books MODIFY COLUMN book_format ENUM('ebook', 'physical') NOT NULL DEFAULT 'ebook';")
connection.commit()

In [ ]:
import json
import re

insert_query = """
   INSERT INTO books (
    title,
    authors,
    publisher,
    published_date,
    description,
    text_reading_modes,
    image_links,
    averagerating,
    ratingscount,
    language,
    preview_link,
    canonical_volume_link,
    amount_retail_price,
    amount_list_price,
    buy_link,
    page_count,
    year_published,
    book_format,
    country
)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s); # Added one more %s placeholder
"""

books=fetch_books_data()
data_to_insert = [
    (
        book.get('title', None),
        book.get('authors', None),
        book.get('publisher', None),
        book.get('published_date', None),
        book.get('description', None),
        book.get('text_reading_modes', None),
        json.dumps (book.get('image_links', None)),
        book.get('averagerating', 0.0) if book.get('averagerating', 'N/A') != 'N/A' else None,
        book.get('ratingscount', int(book.get('ratingscount'))) if book.get('ratingscount', 'N/A') != 'N/A' else None, # Changed this line
        book.get('language', None),
        book.get('preview_link', None),
        book.get('canonical_volume_link', None),
        book.get('amount_retail_price', None),
        book.get('amount_list_price', None),
        book.get('buy_link', None),
        # Convert page_count to int, handling potential errors
        int(book.get('page_count')) if book.get('page_count', 'N/A') != 'N/A' and str(book.get('page_count')).isdigit() else None,
        (lambda date_str: int(re.search(r'\d{4}', date_str).group()) if date_str and re.search(r'\d{4}', date_str) else None)(book.get('year_published', None)),
        'ebook' if book.get('book_format', None) not in ('ebook', 'physical') else book.get('book_format', None),
        book.get('country', None)
    ) for book in books
]
cursor.executemany(insert_query, data_to_insert)
connection.commit()
print(f"{cursor.rowcount} rows inserted successfully.")

In [ ]:
query = "SELECT * FROM books"
df = pd.read_sql(query, connection)

In [ ]:
cursor.fetchall()
cursor.execute("DESCRIBE books")
result = cursor.fetchall()
for row in result:
    print(row)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(255)', 'YES', '', None, '')
('authors', 'varchar(255)', 'YES', '', None, '')
('publisher', 'varchar(255)', 'YES', '', None, '')
('published_date', 'varchar(50)', 'YES', '', None, '')
('description', 'text', 'YES', '', None, '')
('industry_identifiers', 'text', 'YES', '', None, '')
('text_reading_modes', 'tinyint(1)', 'YES', '', None, '')
('image_links', 'text', 'YES', '', None, '')
('language', 'varchar(10)', 'YES', '', None, '')
('preview_link', 'text', 'YES', '', None, '')
('canonical_volume_link', 'text', 'YES', '', None, '')
('amount_retail_price', 'text', 'YES', '', None, '')
('amount_list_price', 'text', 'YES', '', None, '')
('buy_link', 'text', 'YES', '', None, '')
('year_published', 'int(11)', 'YES', '', None, '')

In [ ]:
cursor.fetchall()
cursor.execute("SELECT COUNT(*) AS ebook_count FROM books WHERE book_format = 'ebook';")
ebook_count = cursor.fetchone()[0]
print(f"Number of ebooks: {ebook_count}")

Number of ebooks: 3216

In [ ]:
cursor.execute("SELECT COUNT(*) AS physicalbook_count FROM books WHERE book_format = 'physicalbook';")
physicalbook_count = cursor.fetchone()[0]
print(f"Number of physicalbooks: {physicalbook_count}")

Number of physicalbooks: 0

In [ ]:
cursor.execute("SELECT COUNT(*) AS both_count FROM books WHERE book_format = 'both';")
both_count = cursor.fetchone()[0]
print(f"Number of both: {both_count}")
cursor.execute("SELECT COUNT(*) AS total_count FROM books;")
total_count = cursor.fetchone()[0]
print(f"Total count: {total_count}")

Number of both: 0
Total count: 3216

In [ ]:
query = """
    SELECT publisher, COUNT(*) AS book_count
    FROM books
    GROUP BY publisher
    ORDER BY book_count DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

if result:
    publisher, book_count = result
    print(f"The publisher with the most books is '{publisher}' with {book_count} books.")
else:
    print("No publishers found in the database.")

The publisher with the most books is 'N/A' with 574 books.

In [ ]:
query = """
    SELECT publisher, COUNT(*) AS book_count
    FROM books
    GROUP BY publisher
    ORDER BY book_count DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

if result:
    publisher, book_count = result
    print(f"The publisher with the highest rating is '{publisher}' with {book_count} books.")
else:
    print("No publishers found in the database.")

The publisher with the highest rating is 'N/A' with 574 books.

In [ ]:
query = "SELECT * FROM books"
df = pd.read_sql(query, connection)

df['amount_retail_price'] = pd.to_numeric(df['amount_retail_price'], errors='coerce')

# Sort by retail price in descending order and get the top 5
top_5_expensive = df.sort_values(by='amount_retail_price', ascending=False).head(5)

top_5_expensive

<ipython-input-48-99885957fa04>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

,id,title,authors,publisher,published_date,description,text_reading_modes,image_links,language,preview_link,canonical_volume_link,amount_retail_price,amount_list_price,buy_link,year_published,book_format,country
132,133,"Handbook of Research on Engineering, Business,...","Patil, Bhushan, Vohra, Manisha",IGI Global,2020-10-23,Analyzing data sets has continued to be an inv...,0,"{""smallThumbnail"": ""http://books.google.com/bo...",en,http://books.google.com/books?id=dLgIEAAAQBAJ&...,https://play.google.com/store/books/details?id...,304.0,380,https://play.google.com/store/books/details?id...,2020-10-23,ebook,US
777,778,"Handbook of Research on Engineering, Business,...","Patil, Bhushan, Vohra, Manisha",IGI Global,2020-10-23,Analyzing data sets has continued to be an inv...,0,"{""smallThumbnail"": ""http://books.google.com/bo...",en,http://books.google.com/books?id=dLgIEAAAQBAJ&...,https://play.google.com/store/books/details?id...,304.0,380,https://play.google.com/store/books/details?id...,2020-10-23,ebook,US
2092,2093,"Handbook of Research on Engineering, Business,...","Patil, Bhushan, Vohra, Manisha",IGI Global,2020-10-23,Analyzing data sets has continued to be an inv...,0,"{""smallThumbnail"": ""http://books.google.com/bo...",en,http://books.google.com/books?id=dLgIEAAAQBAJ&...,https://play.google.com/store/books/details?id...,304.0,380,https://play.google.com/store/books/details?id...,2020-10-23,ebook,US
1450,1451,"Handbook of Research on Engineering, Business,...","Patil, Bhushan, Vohra, Manisha",IGI Global,2020-10-23,Analyzing data sets has continued to be an inv...,0,"{""smallThumbnail"": ""http://books.google.com/bo...",en,http://books.google.com/books?id=dLgIEAAAQBAJ&...,https://play.google.com/store/books/details?id...,304.0,380,https://play.google.com/store/books/details?id...,2020-10-23,ebook,US
2707,2708,"Handbook of Research on Engineering, Business,...","Patil, Bhushan, Vohra, Manisha",IGI Global,2020-10-23,Analyzing data sets has continued to be an inv...,0,"{""smallThumbnail"": ""http://books.google.com/bo...",en,http://books.google.com/books?id=dLgIEAAAQBAJ&...,https://play.google.com/store/books/details?id...,304.0,380,https://play.google.com/store/books/details?id...,2020-10-23,ebook,US

In [ ]:
query = """
    SELECT title, published_date, page_count
    FROM books
    WHERE CAST(SUBSTRING(published_date, 1, 4) AS UNSIGNED) > 2010
      AND page_count >= 500;
"""
cursor.execute(query)
results = cursor.fetchall()

for row in results:
    title, published_date, page_count = row
    print(f"Title: {title}, Published Date: {published_date}, Page Count: {page_count}")

Title: Python and SQL Bible, Published Date: 2024-06-14, Page Count: 519
Title: MySQL Connector/Python Revealed, Published Date: 2018-07-31, Page Count: 527
Title: Python for Geeks, Published Date: 2021-10-20, Page Count: 546
Title: The Absolute Beginner’s Guide to Learn Python GUI with MySQL and SQL Server Databases, Published Date: 2020-01-16, Page Count: 552
Title: SQL Queries for Mere Mortals, Published Date: 2014, Page Count: 792
Title: Murach's Python Programming (2nd Edition), Published Date: 2021-04, Page Count: 564
Title: SQL for Data Analytics, Published Date: 2022-08-29, Page Count: 540
Title: Introducing MySQL Shell, Published Date: 2019-09-04, Page Count: 514
Title: The Absolute Beginner’s Guide to Learn Database Programming Using Python GUI with PostgreSQL and SQL Server, Published Date: 2020-01-16, Page Count: 523
Title: Python Data Science Handbook, Published Date: 2016-11-21, Page Count: 609
Title: A Guide to Python GUI Programming with MySQL, Published Date: 2020-01-14, Page Count: 542
Title: The Absolute Beginner’s Guide to Learn Database Programming Using Python GUI with MariaDB and SQL Server, Published Date: 2020-01-16, Page Count: 536
Title: MySQL Crash Course, Published Date: 2023-11-02, Page Count: 635
Title: Python for Data Analysis, Published Date: 2017-09-25, Page Count: 553
Title: The Quick Tutorial to Learn Database Programming Using Python GUI with MariaDB and PostgreSQL, Published Date: 2020-01-15, Page Count: 535
Title: Database and Image Processing Using SQL Server and Python, Published Date: 2019-10-31, Page Count: 547
Title: MySQL Cookbook, Published Date: 2022-08-02, Page Count: 972
Title: Extending Power BI with Python and R, Published Date: 2021-11-26, Page Count: 559
Title: Spark: The Definitive Guide, Published Date: 2018-02-08, Page Count: 603
Title: Expert Python Programming, Published Date: 2019-04-30, Page Count: 628
Title: Learning Data Science, Published Date: 2023-09-15, Page Count: 597
Title: MySQL Crash Course, Published Date: 2023-11-02, Page Count: 635
Title: Mastering Django: Core, Published Date: 2016-12-23, Page Count: 672
Title: Beginning Django, Published Date: 2017-10-27, Page Count: 609
Title: MySQL Cookbook, Published Date: 2022-08-02, Page Count: 972
Title: The Quick Tutorial to Learn Database Programming Using Python GUI with MariaDB and PostgreSQL, Published Date: 2020-01-15, Page Count: 535
Title: Python for Data Analysis, Published Date: 2017-09-25, Page Count: 553
Title: Database and Image Processing Using SQL Server and Python, Published Date: 2019-10-31, Page Count: 547
Title: Spark: The Definitive Guide, Published Date: 2018-02-08, Page Count: 594
Title: Extending Power BI with Python and R, Published Date: 2021-11-26, Page Count: 559
Title: DATA SCIENCE WITH MYSQL, SQLITE, POSTGRESQL, AND SQL SERVER USING PYTHON GUI, Published Date: 2022-10-03, Page Count: 1667
Title: Innovative Approaches to Technology-Enhanced Learning for the Workplace and Higher Education, Published Date: 2022-12-15, Page Count: 635
Title: SQL Injection Attacks and Defense, Published Date: 2012-06-18, Page Count: 577
Title: Software Engineering Perspectives in Intelligent Systems, Published Date: 2020-12-15, Page Count: 1167
Title: Computer Programming Crash Course, Published Date: 2021-03-02, Page Count: 820
Title: Expert Python Programming, Published Date: 2019-04-30, Page Count: 628
Title: Amazon Redshift: The Definitive Guide, Published Date: 2023-10-03, Page Count: 523
Title: Learn SQLite with Python, Published Date: 2019-09-29, Page Count: 539
Title: Data Structures and Algorithms in Python, Published Date: 2013-06-17, Page Count: 770
Title: Full Stack Python Security, Published Date: 2021-08-24, Page Count: 501
Title: Learning Data Science, Published Date: 2023-09-15, Page Count: 597
Title: Microsoft Excel 2019 Data Analysis and Business Modeling, Published Date: 2019-03-28, Page Count: 1490
Title: Excel 2016 Bible, Published Date: 2015-10-20, Page Count: 1153
Title: Machine Learning with Amazon SageMaker Cookbook, Published Date: 2021-10-29, Page Count: 763
Title: Pro ASP.NET Core 3, Published Date: 2020-06-06, Page Count: 1086
Title: Learn Python 3 the Hard Way, Published Date: 2017-06-26, Page Count: 752
Title: DATA ANALYSIS PROJECTS WITH MYSQL, SQLITE, POSTGRESQL, AND SQL SERVER USING PYTHON GUI, Published Date: 2022-10-26, Page Count: 1647
Title: Python for Finance, Published Date: 2014-12-11, Page Count: 750
Title: A Step By Step To Database Programming Using Python GUI and MariaDB, Published Date: 2020-01-06, Page Count: 534
Title: Future Data and Security Engineering, Published Date: 2019-11-22, Page Count: 749
Title: Alice and Bob Learn Secure Coding, Published Date: 2025-01-10, Page Count: 503
Title: Introduction to Data Mining and Analytics, Published Date: 2020-02-03, Page Count: 687
Title: Relational Database Systems, Published Date: 2012-12, Page Count: 633
Title: Create GUI Applications with Python & Qt5 (PySide2 Edition), Published Date: 2020-06-26, Page Count: 821
Title: Mastering GUI Programming with Python, Published Date: 2019-05-24, Page Count: 526
Title: Python Cookbook, Published Date: 2013-05-10, Page Count: 1132
Title: Patterns of Enterprise Application Architecture, Published Date: 2012-03-09, Page Count: 558
Title: Data Analysis with Python and PySpark, Published Date: 2022-04-12, Page Count: 746
Title: Programming Languages, Published Date: 2021-01-02, Page Count: 870
Title: THREE PROJECTS: SQL SERVER AND PYTHON GUI FOR DATA ANALYSIS, Published Date: 2022-11-08, Page Count: 1344
Title: Computer Programming Fundamentals, Published Date: 2020-10-27, Page Count: 590
Title: The Little SAS Book, Published Date: 2019-10-11, Page Count: 514
Title: Applied Predictive Modeling, Published Date: 2013-05-17, Page Count: 595
Title: Computer Programming, Published Date: 2020-12-17, Page Count: 614
Title: Computer Programming, Published Date: 2020-05-04, Page Count: 582
Title: The Beginner’s Guide to Learn Python GUI with PostgreSQL and SQLite, Published Date: 2020-01-15, Page Count: 551
Title: The Python 3 Standard Library by Example, Published Date: 2017-06-14, Page Count: 3262
Title: Data Analytics with Spark Using Python, Published Date: 2018-06-18, Page Count: 772
Title: Create GUI Applications with Python & Qt6 (PySide6 Edition), Published Date: 2021-03-01, Page Count: 809
Title: Fluent Python, Published Date: 2015-07-30, Page Count: 755
Title: Head First Python, Published Date: 2016-11-21, Page Count: 624
Title: SQL All-in-One For Dummies, Published Date: 2011-03-10, Page Count: 746
Title: From Zero To Pyhon Hero, Published Date: 2019-09-22, Page Count: 547
Title: Fluent Python, Published Date: 2015-07-30, Page Count: 755
Title: SQL All-in-One For Dummies, Published Date: 2011-03-10, Page Count: 746
Title: From Zero To Pyhon Hero, Published Date: 2019-09-22, Page Count: 547
Title: Head First Python, Published Date: 2016-11-21, Page Count: 624
Title: Two Scoops of Django 1.11, Published Date: 2017-06-30, Page Count: 519
Title: Python Made Easy, Published Date: 2020-10-20, Page Count: 576
Title: Data Science for Marketing Analytics, Published Date: 2021-09-07, Page Count: 637
Title: Computer Programmin, Published Date: 2021-08-19, Page Count: 844
Title: Clean Architecture, Published Date: 2017-09-12, Page Count: 652
Title: Python for Finance, Published Date: 2018-12-05, Page Count: 682
Title: Coding, Published Date: 2021-11-13, Page Count: 548
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Sixth Edition, Published Date: 2022-03-11, Page Count: 705
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Sixth Edition, Published Date: 2022-03-11, Page Count: 705
Title: Coding For Programmers Using Python: The Step-by-Step Guide to Learn PyQt and Database Applications, Published Date: 2019-11-29, Page Count: 522
Title: Learn PyQt The Hard Way: A Quick Start Guide to PostgreSQL and SQLite Driven Programming, Published Date: 2019-11-25, Page Count: 551
Title: Deep Learning, Published Date: 2017-07-28, Page Count: 550
Title: Machine Learning for Algorithmic Trading, Published Date: 2020-07-31, Page Count: 822
Title: Computer Programming Fundamentals, Published Date: 2020-09-21, Page Count: 584
Title: Fluent Python, Published Date: 2015, Page Count: 800
Title: Mobile Forensic Investigations: A Guide to Evidence Collection, Analysis, and Presentation, Second Edition, Published Date: 2018-12-06, Page Count: 561
Title: The Fast Way to Learn Python GUI with MariaDB and SQLite, Published Date: 2020-01-15, Page Count: 547
Title: Coding and Cyber Security for Beginners, Published Date: 2020-12-27, Page Count: 564
Title: SQL For Dummies, Published Date: 2018-12-11, Page Count: 512
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Fifth Edition, Published Date: 2018-04-05, Page Count: 637
Title: A Practical Guide to Ubuntu Linux, Published Date: 2014-12-19, Page Count: 1402
Title: Cybersecurity Essentials, Published Date: 2018-10-05, Page Count: 786
Title: PHP, MySQL, & JavaScript All-in-One For Dummies, Published Date: 2018-03-20, Page Count: 940
Title: Gray Hat Hacking The Ethical Hackers Handbook, 3rd Edition, Published Date: 2011-02-05, Page Count: 721
Title: Gray Hat Hacking The Ethical Hacker's Handbook, Fourth Edition, Published Date: 2015-01-09, Page Count: 657
Title: Learn Python in One Week, Published Date: 2019-11-17, Page Count: 542
Title: Programming, Published Date: 2020-03-16, Page Count: 830
Title: Head First Learn to Code, Published Date: 2018-01-02, Page Count: 1047
Title: Computer Programming, Published Date: 2019-12-13, Page Count: 815
Title: Spark in Action, Published Date: 2020-05-12, Page Count: 574
Title: Anti-Hacker Tool Kit, Fourth Edition, Published Date: 2014-02-07, Page Count: 768
Title: SQL Server 2017 Integration Services Cookbook, Published Date: 2017-06-30, Page Count: 558
Title: Mastering Microsoft Power Bi, Published Date: 2018-03-29, Page Count: 638
Title: Coding, Published Date: 2019-12-08, Page Count: 603
Title: Javascript, Published Date: 2021-03-08, Page Count: 716
Title: Coding, Published Date: 2020-12-10, Page Count: 590
Title: Beginning PyQt, Published Date: 2022-03-26, Page Count: 543
Title: Professional Azure SQL Managed Database Administration, Published Date: 2021-02-26, Page Count: 724
Title: Python Crash Course, Published Date: 2015-11-01, Page Count: 564
Title: Mastering Python for Networking and Security, Published Date: 2021-01-04, Page Count: 539
Title: Learn SQL Database Programming, Published Date: 2020-05-29, Page Count: 550
Title: Python GUI Programming with Tkinter, Published Date: 2021-10-28, Page Count: 665
Title: PowerShell and WMI, Published Date: 2012-04-29, Page Count: 866
Title: Advanced Algorithms and Data Structures, Published Date: 2021-08-10, Page Count: 766
Title: A Gentle Introduction to Effective Computing in Quantitative Research, Published Date: 2016-05-13, Page Count: 777
Title: PostGIS Cookbook, Published Date: 2018-03-28, Page Count: 576

In [ ]:
query = "SELECT * FROM books"
df = pd.read_sql(query, connection)


df['amount_retail_price'] = pd.to_numeric(df['amount_retail_price'], errors='coerce')
df['amount_list_price'] = pd.to_numeric(df['amount_list_price'], errors='coerce')

df['discount'] = df.apply(
    lambda row: (1 - (row['amount_retail_price'] / row['amount_list_price'])) * 100 if row['amount_list_price'] != 0 and not pd.isna(row['amount_list_price']) else 0,
    axis=1
)


discounted_books = df[df['discount'] > 20]


print(discounted_books[['title', 'amount_retail_price', 'amount_list_price', 'discount']])

<ipython-input-6-593f859126e7>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

                              title  amount_retail_price  amount_list_price  \
2                  MySQL for Python                20.44              32.99
3              Python and SQL Bible                21.74              34.99
17       Python Essential Reference                37.67              47.99
30           SQL for Data Analytics                31.19              39.99
49                  Python for MBAs                19.24              34.99
..                              ...                  ...                ...
637  The Ultimate Guide to Snowpark                21.09              33.99
639                Flask Blueprints                31.19              39.99
642  The Ultimate Guide to Snowpark                21.09              33.99
644                Flask Blueprints                31.19              39.99
648                  Mastering QGIS                31.72              43.99

      discount
2    38.041831
3    37.867962
17   21.504480
30   22.005501
49   45.012861
..         ...
637  37.952339
639  22.005501
642  37.952339
644  22.005501
648  27.892703

[99 rows x 4 columns]

In [ ]:
query = """
    SELECT book_format, AVG(page_count) AS average_page_count
    FROM books
    WHERE page_count != 'N/A'
    GROUP BY book_format;
"""
cursor.execute(query)
results = cursor.fetchall()

for book_format, average_page_count in results:
    print(f"Average page count for {book_format}: {average_page_count}")

Average page count for ebook: 466.3499

In [ ]:
#Find the Top 3 Authors with the Most Books

query = """
    SELECT authors, COUNT(*) AS book_count
    FROM books
    GROUP BY authors
    ORDER BY book_count DESC
    LIMIT 3;
"""
cursor.execute(query)
results = cursor.fetchall()

for author, book_count in results:
    print(f"Author: {author}, Book Count: {book_count}")

Author: , Book Count: 26
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Book Count: 25
Author: Sam Key, Book Count: 14

In [ ]:
#List Publishers with More than 10 Books

query = """
    SELECT publisher, COUNT(*) AS book_count
    FROM books
    GROUP BY publisher
    HAVING COUNT(*) > 10
    ORDER BY book_count DESC;
"""
cursor.execute(query)
results = cursor.fetchall()

for publisher, book_count in results:
    print(f"Publisher: {publisher}, Book Count: {book_count}")

Publisher: N/A, Book Count: 110
Publisher: "O'Reilly Media, Inc.", Book Count: 68
Publisher: Packt Publishing Ltd, Book Count: 57
Publisher: Apress, Book Count: 38
Publisher: John Wiley & Sons, Book Count: 27
Publisher: SPARTA PUBLISHING, Book Count: 22
Publisher: Simon and Schuster, Book Count: 21
Publisher: Independently Published, Book Count: 17
Publisher: No Starch Press, Book Count: 15
Publisher: Springer Nature, Book Count: 13
Publisher: Createspace Independent Publishing Platform, Book Count: 12
Publisher: Prentice Hall, Book Count: 11
Publisher: O'Reilly Media, Book Count: 11

In [ ]:
#Find the Average Page Count for Each Category

query = """
    SELECT book_format, AVG(page_count) AS average_page_count
    FROM books
    WHERE page_count != 'N/A'
    GROUP BY book_format;
"""
cursor.execute(query)
results = cursor.fetchall()

for book_format, average_page_count in results:
    print(f"Average page count for {book_format}: {average_page_count}")

Average page count for ebook: 466.3499

In [ ]:
#Retrieve Books with More than 3 Authors

# Find books with more than 3 authors
query = """
    SELECT title, authors
    FROM books
    WHERE LENGTH(authors) - LENGTH(REPLACE(authors, ',', '')) >= 3;
"""
cursor.execute(query)
results = cursor.fetchall()

for title, authors in results:
    print(f"Title: {title}, Authors: {authors}")

Title: Learning Spark, Authors: Jules S. Damji, Brooke Wenig, Tathagata Das, Denny Lee
Title: SQL for Data Analytics, Authors: Jun Shan, Matt Goldwasser, Upom Malik, Benjamin Johnston
Title: Realm of Racket, Authors: Matthias Felleisen, David Van Horn, Conrad Barski, Northeastern University Students
Title: THE FUTURE OF SOFTWARE ENGINEERING AND DATA ANALYSIS: HOW CLOUD-BASED AI IS LEADING THE CHANGE, Authors: Koteswararao Dondapati, Durga Praveen Deevi, Himabindu Chetlapalli, Sharadha Kodadi, Naga Sushma Allur, Dr. Faheem khan
Title: Software Language Engineering, Authors: Benoit Combemale, David Pearce, Olivier Barais, Jurgen Vinju
Title: Learning Spark, Authors: Holden Karau, Andy Konwinski, Patrick Wendell, Matei Zaharia
Title: Driving Scientific and Engineering Discoveries Through the Integration of Experiment, Big Data, and Modeling and Simulation, Authors: Jeffrey Nichols, Arthur ‘Barney’ Maccabe, James Nutaro, Swaroop Pophale, Pravallika Devineni, Theresa Ahearn, Becky Verastegui
Title: Fundamentals of Analytics Engineering, Authors: Dumky De Wilde, Fanny Kassapian, Jovan Gligorevic, Juan Manuel Perafan, Lasse Benninga, Ricardo Angel Granados Lopez, Taís Laurindo Pereira
Title: Rules and Reasoning, Authors: Sabrina Kirrane, Mantas Šimkus, Ahmet Soylu, Dumitru Roman (Research scientist)
Title: Big Data and Social Science, Authors: Ian Foster, Rayid Ghani, Ron S. Jarmin, Frauke Kreuter, Julia Lane
Title: Exam Ref 70-774 Perform Cloud Data Science with Azure Machine Learning, Authors: Ginger Grant, Julio Granados, Guillermo Fernandez, Pau Sempere, Javier Torrenteras, Paco Gonzalez, Tamanaco Francísquez
Title: Handbook of Research on Engineering, Business, and Healthcare Applications of Data Science and Analytics, Authors: Patil, Bhushan, Vohra, Manisha
Title: Frontiers of WWW Research and Development -- APWeb 2006, Authors: Xiaofang Zhou, Jianzhong Li, Heng Tao Shen, Masaru Kitsuregawa, Yanchun Zhang
Title: Transactions on Large-Scale Data- and Knowledge-Centered Systems XXVIII, Authors: Abdelkader Hameurlain, Josef Küng, Roland Wagner, Qimin Chen
Title: Hands-On Machine Learning with Azure, Authors: Thomas K Abraham, Parashar Shah, Jen Stirrup, Lauri Lehman, Anindita Basak
Title: Future Data and Security Engineering, Authors: Tran Khanh Dang, Josef Küng, Makoto Takizawa, Son Ha Bui
Title: All About Computers and Internet Today, Authors: Iswera Lallan, Ugesh Nair, Arunava Deb, Shamani Nair, Subashkaran
Title: Code the Classics Volume 1, Authors: David Crookes, Andrew Gillett, Liz Upton, Eben Upton
Title: An Introduction to Statistical Learning, Authors: Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani, Jonathan Taylor
Title: Introduction To Algorithms, Authors: Thomas H Cormen, Charles E Leiserson, Ronald L Rivest, Clifford Stein
Title: IoT Fundamentals, Authors: David Hanes, Gonzalo Salgueiro, Patrick Grossetete, Robert Barton, Jerome Henry
Title: Learning How to Learn, Authors: Barbara Oakley, PhD, Terrence Sejnowski, PhD, Alistair McConville
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Sixth Edition, Authors: Allen Harper, Ryan Linn, Stephen Sims, Michael Baucom, Huascar Tejeda, Daniel Fernandez, Moses Frost
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Fifth Edition, Authors: Daniel Regalado, Shon Harris, Allen Harper, Chris Eagle, Jonathan Ness, Branko Spasojevic, Ryan Linn, Stephen Sims
Title: Los Angeles County Regional Energy Baseline Pilot, Authors: Stephanie Pincetl, Mikhail Vin Chester, Dan Flaming, Giovanni Circella, Michael McCoy
Title: Gray Hat Hacking The Ethical Hackers Handbook, 3rd Edition, Authors: Allen Harper, Shon Harris, Jonathan Ness, Chris Eagle, Gideon Lenkey, Terron Williams
Title: Gray Hat Hacking The Ethical Hacker's Handbook, Fourth Edition, Authors: Daniel Regalado, Shon Harris, Allen Harper, Chris Eagle, Jonathan Ness, Branko Spasojevic, Ryan Linn, Stephen Sims
Title: Solar Energy and the Mojave Desert Tortoise, Authors: Philip J. Murphy, Nathan W. Strout, Catherine R. Darst, University of Redlands, U.S. Fish and Wildlife Service. Desert Tortoise Recovery Office
Title: Solar Energy and the Mojave Desert Tortoise, Authors: Philip J. Murphy, Nathan W. Strout, Catherine R. Darst, University of Redlands, U.S. Fish and Wildlife Service. Desert Tortoise Recovery Office
Title: Managing & Using MySQL, Authors: George Reese, Randy Yarger, Tim King, Hugh E. Williams
Title: Mastering QGIS, Authors: Kurt Menke, GISP, Dr. Richard Smith Jr., GISP, Dr. Luigi Pirelli, Dr. John Van Hoesen, GISP

In [ ]:
#Books with Ratings Count Greater Than the Average

query = """
    SELECT title, authors
    FROM books
    WHERE LENGTH(authors) - LENGTH(REPLACE(authors, ',', '')) >= 3;
"""
cursor.execute(query)
results = cursor.fetchall()

for title, authors in results:
    print(f"Title: {title}, Authors: {authors}")

Title: Learning Spark, Authors: Jules S. Damji, Brooke Wenig, Tathagata Das, Denny Lee
Title: SQL for Data Analytics, Authors: Jun Shan, Matt Goldwasser, Upom Malik, Benjamin Johnston
Title: Realm of Racket, Authors: Matthias Felleisen, David Van Horn, Conrad Barski, Northeastern University Students
Title: THE FUTURE OF SOFTWARE ENGINEERING AND DATA ANALYSIS: HOW CLOUD-BASED AI IS LEADING THE CHANGE, Authors: Koteswararao Dondapati, Durga Praveen Deevi, Himabindu Chetlapalli, Sharadha Kodadi, Naga Sushma Allur, Dr. Faheem khan
Title: Software Language Engineering, Authors: Benoit Combemale, David Pearce, Olivier Barais, Jurgen Vinju
Title: Learning Spark, Authors: Holden Karau, Andy Konwinski, Patrick Wendell, Matei Zaharia
Title: Driving Scientific and Engineering Discoveries Through the Integration of Experiment, Big Data, and Modeling and Simulation, Authors: Jeffrey Nichols, Arthur ‘Barney’ Maccabe, James Nutaro, Swaroop Pophale, Pravallika Devineni, Theresa Ahearn, Becky Verastegui
Title: Fundamentals of Analytics Engineering, Authors: Dumky De Wilde, Fanny Kassapian, Jovan Gligorevic, Juan Manuel Perafan, Lasse Benninga, Ricardo Angel Granados Lopez, Taís Laurindo Pereira
Title: Rules and Reasoning, Authors: Sabrina Kirrane, Mantas Šimkus, Ahmet Soylu, Dumitru Roman (Research scientist)
Title: Big Data and Social Science, Authors: Ian Foster, Rayid Ghani, Ron S. Jarmin, Frauke Kreuter, Julia Lane
Title: Exam Ref 70-774 Perform Cloud Data Science with Azure Machine Learning, Authors: Ginger Grant, Julio Granados, Guillermo Fernandez, Pau Sempere, Javier Torrenteras, Paco Gonzalez, Tamanaco Francísquez
Title: Handbook of Research on Engineering, Business, and Healthcare Applications of Data Science and Analytics, Authors: Patil, Bhushan, Vohra, Manisha
Title: Frontiers of WWW Research and Development -- APWeb 2006, Authors: Xiaofang Zhou, Jianzhong Li, Heng Tao Shen, Masaru Kitsuregawa, Yanchun Zhang
Title: Transactions on Large-Scale Data- and Knowledge-Centered Systems XXVIII, Authors: Abdelkader Hameurlain, Josef Küng, Roland Wagner, Qimin Chen
Title: Hands-On Machine Learning with Azure, Authors: Thomas K Abraham, Parashar Shah, Jen Stirrup, Lauri Lehman, Anindita Basak
Title: Future Data and Security Engineering, Authors: Tran Khanh Dang, Josef Küng, Makoto Takizawa, Son Ha Bui
Title: All About Computers and Internet Today, Authors: Iswera Lallan, Ugesh Nair, Arunava Deb, Shamani Nair, Subashkaran
Title: Code the Classics Volume 1, Authors: David Crookes, Andrew Gillett, Liz Upton, Eben Upton
Title: An Introduction to Statistical Learning, Authors: Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani, Jonathan Taylor
Title: Introduction To Algorithms, Authors: Thomas H Cormen, Charles E Leiserson, Ronald L Rivest, Clifford Stein
Title: IoT Fundamentals, Authors: David Hanes, Gonzalo Salgueiro, Patrick Grossetete, Robert Barton, Jerome Henry
Title: Learning How to Learn, Authors: Barbara Oakley, PhD, Terrence Sejnowski, PhD, Alistair McConville
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Sixth Edition, Authors: Allen Harper, Ryan Linn, Stephen Sims, Michael Baucom, Huascar Tejeda, Daniel Fernandez, Moses Frost
Title: Gray Hat Hacking: The Ethical Hacker's Handbook, Fifth Edition, Authors: Daniel Regalado, Shon Harris, Allen Harper, Chris Eagle, Jonathan Ness, Branko Spasojevic, Ryan Linn, Stephen Sims
Title: Los Angeles County Regional Energy Baseline Pilot, Authors: Stephanie Pincetl, Mikhail Vin Chester, Dan Flaming, Giovanni Circella, Michael McCoy
Title: Gray Hat Hacking The Ethical Hackers Handbook, 3rd Edition, Authors: Allen Harper, Shon Harris, Jonathan Ness, Chris Eagle, Gideon Lenkey, Terron Williams
Title: Gray Hat Hacking The Ethical Hacker's Handbook, Fourth Edition, Authors: Daniel Regalado, Shon Harris, Allen Harper, Chris Eagle, Jonathan Ness, Branko Spasojevic, Ryan Linn, Stephen Sims
Title: Solar Energy and the Mojave Desert Tortoise, Authors: Philip J. Murphy, Nathan W. Strout, Catherine R. Darst, University of Redlands, U.S. Fish and Wildlife Service. Desert Tortoise Recovery Office
Title: Solar Energy and the Mojave Desert Tortoise, Authors: Philip J. Murphy, Nathan W. Strout, Catherine R. Darst, University of Redlands, U.S. Fish and Wildlife Service. Desert Tortoise Recovery Office
Title: Managing & Using MySQL, Authors: George Reese, Randy Yarger, Tim King, Hugh E. Williams
Title: Mastering QGIS, Authors: Kurt Menke, GISP, Dr. Richard Smith Jr., GISP, Dr. Luigi Pirelli, Dr. John Van Hoesen, GISP

In [ ]:
#Books with the Same Author Published in the Same Year

query = """
    SELECT authors, year_published, COUNT(*) AS book_count
    FROM books
    GROUP BY authors, year_published
    HAVING COUNT(*) > 1;
"""
cursor.execute(query)
results = cursor.fetchall()

for author, year, count in results:
    print(f"Author: {author}, Year: {year}, Number of Books: {count}")

Author: Michael Learn, Michael Clark, Year: 2019-12-08, Number of Books: 2
Author: Zach Codings, Year: 2019-10-21, Number of Books: 2
Author: Leila Etaati, Year: 2019-06-12, Number of Books: 2
Author: Hamzan Wadi, Year: 2023-04-26, Number of Books: 2
Author: Sam Key, Year: 2015-03-23, Number of Books: 2
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Year: 2020-01-14, Number of Books: 2
Author: Michael Clark, Michael Learn, Year: 2020-12-10, Number of Books: 2
Author: Yves J. Hilpisch, Year: 2018-12-05, Number of Books: 2
Author: , Year: 2002, Number of Books: 3
Author: Joe Celko, Year: 2005-05-19, Number of Books: 2
Author: Philip Joyce, Year: 2021, Number of Books: 2
Author: Joshua M Willman, Year: 2022-03-26, Number of Books: 2
Author: Alex Martelli, Anna Ravenscroft, David Ascher, Year: 2005-03-18, Number of Books: 2
Author: Sam Key, Year: 2015-10-14, Number of Books: 2
Author: Alex Datanova, Year: 2024-08-21, Number of Books: 2
Author: Reaz Hoque, Year: 2000, Number of Books: 2
Author: , Year: 2004, Number of Books: 2
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Year: 2020-01-15, Number of Books: 3
Author: Daneyal Anis, Year: 2020-02-17, Number of Books: 2
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Year: 2019-01-15, Number of Books: 2
Author: Andrew Michael Brookins, Year: 2019-11-30, Number of Books: 2
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Year: 2020-01-16, Number of Books: 3
Author: Sean Saito, Yang Wenzhuo, Rajalingappaa Shanmugamani, Year: 2018-09-29, Number of Books: 2
Author: Michael T. Goodrich, Roberto Tamassia, Michael H. Goldwasser, Year: 2013-06-17, Number of Books: 2
Author: Serkan Sakinmaz, Year: 2023-05-19, Number of Books: 2
Author: Philip J. Murphy, Nathan W. Strout, Catherine R. Darst, University of Redlands, U.S. Fish and Wildlife Service. Desert Tortoise Recovery Office, Year: 2016, Number of Books: 2
Author: Matthew Fowler, Year: 2022-03-15, Number of Books: 2
Author: Sreeram Nudurupati, Year: 2021-10-29, Number of Books: 2
Author: Zach Webber, Year: 2018-12-07, Number of Books: 2
Author: Hamzan Wadi, Year: N/A, Number of Books: 2
Author: Reeta Sahoo, Gagan Sahoo, Year: N/A, Number of Books: 2
Author: Francesco Diaz, Roberto Freato, Year: 2018-06-28, Number of Books: 2
Author: Diego Rodrigues, Year: 2025-01-01, Number of Books: 2
Author: Bhushan Lakhe, Year: 2016-08-10, Number of Books: 2
Author: City of London College of Economics, Year: N/A, Number of Books: 2
Author: Giunio De Luca, Year: 2024-08-02, Number of Books: 2
Author: Oswaal Editorial Board, Year: 2024-01-23, Number of Books: 2
Author: Sam Key, Year: 2015-03-24, Number of Books: 2
Author: Venkat Ankam, Year: 2016-09-28, Number of Books: 2
Author: Shankar Narayanan SGS, Vivekanandan SS, Year: 2024-05-30, Number of Books: 2
Author: Ryan Campbell, Year: 2024-05-18, Number of Books: 2
Author: , Year: 1990, Number of Books: 2
Author: Umesh R. Hodeghatta, Umesha Nayak, Year: 2023-01-27, Number of Books: 2
Author: Ryan Turner, Year: 2019-06-26, Number of Books: 2
Author: , Year: 2007, Number of Books: 2
Author: Kalen Delaney, Year: 2007, Number of Books: 2
Author: , Year: 2006, Number of Books: 3
Author: Agus Kurniawan, Year: N/A, Number of Books: 2
Author: Isaac Triguero, Mikel Galar, Year: 2023-11-23, Number of Books: 2
Author: Joel Perras, Year: 2015-11-27, Number of Books: 2
Author: Ryan Turner, Year: 2019-03-10, Number of Books: 2
Author: , Year: 1988, Number of Books: 2
Author: Ryan Turner, Year: 2020-04-12, Number of Books: 2
Author: Vivian Siahaan, Rismon Hasiholan Sianipar, Year: 2019-09-29, Number of Books: 2
Author: Raju Kumar Mishra, Sundar Rajan Raman, Year: 2019-03-18, Number of Books: 2
Author: Nailong Zhang, Year: 2020-11-11, Number of Books: 2
Author: , Year: 2000, Number of Books: 2
Author: Dane Hillard, Year: 2019-12-22, Number of Books: 2
Author: Bastian Ballmann, Year: 2015-01-19, Number of Books: 2
Author: Roger E. Sanders, Year: 2019-06-03, Number of Books: 2
Author: Peter C. Bruce, Andrew Bruce, Year: 2017, Number of Books: 2
Author: Carl Gold, Year: 2020-11-13, Number of Books: 2
Author: Mike Owens, Year: 2014-11-05, Number of Books: 2
Author: Alice Zhao, Year: 2021-08-26, Number of Books: 2
Author: Graeme Simsion, Graham Witt, Year: 2004-12-03, Number of Books: 2
Author: Michele Chambers, Thomas W Dinsmore, Year: 2014-08-27, Number of Books: 2

In [ ]:
# Books with a Specific Keyword in the Title

import mysql.connector
import pandas as pd

def get_books_with_keyword(keyword):
    try:
        connection = mysql.connector.connect(
            host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
            port=4000,
            user="4ABAUzjWF71mucC.root",
            password="cez2myDyoTM2Nqeb",
            database="book_store"
        )
        cursor = connection.cursor()

        query = """
            SELECT title
            FROM books
            WHERE title LIKE %s;
        """
        cursor.execute(query, ('%' + keyword + '%',))  # Use parameterized query to prevent SQL injection
        results = cursor.fetchall()

        if results:
            print(f"Books with '{keyword}' in the title:")
            for title in results:
                print(title[0])  # Access the title from the tuple
        else:
            print(f"No books found with '{keyword}' in the title.")

        cursor.close()
        connection.close()
    except mysql.connector.Error as err:
        print(f"Error: {err}")
print(get_books_with_keyword('programming'))

No books found with 'programming' in the title.
None

In [ ]:
#Year with the Highest Average Book Price

# Calculate the average retail price for each year
query = """
    SELECT
        SUBSTRING(published_date, 1, 4) AS publication_year,
        AVG(amount_retail_price) AS average_price
    FROM
        books
    WHERE
        SUBSTRING(published_date, 1, 4) REGEXP '^[0-9]+$'  -- Ensure the year is numeric
    GROUP BY
        publication_year
    ORDER BY
        average_price DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

if result:
    year, avg_price = result
    print(f"The year with the highest average book price is {year} with an average price of {avg_price}")
else:
    print("No data available to determine the year with the highest average book price.")

The year with the highest average book price is 2013 with an average price of 44.77333333333334

In [ ]:
#Count Authors Who Published 3 Consecutive Years

import mysql.connector
import pandas as pd

def count_consecutive_authors(connection):
    cursor = connection.cursor()

    # SQL query to count authors who published in 3 consecutive years
    query = """
        SELECT authors
        FROM books
        GROUP BY authors
        HAVING COUNT(DISTINCT YEAR(published_date)) >= 3;
    """

    cursor.execute(query)
    results = cursor.fetchall()

    author_counts = {}
    for row in results:
        author = row[0]
        if author in author_counts:
            author_counts[author] += 1
        else:
            author_counts[author] = 1

    print(f"Number of authors who published in 3 or more consecutive years: {len(author_counts)}")

    cursor.close()

try:
    connection = mysql.connector.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port=4000,
        user="4ABAUzjWF71mucC.root",
        password="cez2myDyoTM2Nqeb",
        database="book_store"
    )

    count_consecutive_authors(connection)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        connection.close()

Number of authors who published in 3 or more consecutive years: 4

In [ ]:
# Write a SQL query to find authors who have published books in the same year but under different publishers. Return the authors, year, and the COUNT of books they published in that year.

query = """
SELECT authors, year_published, COUNT(*) AS book_count
FROM books
WHERE year_published IS NOT NULL
GROUP BY authors, year_published
HAVING COUNT(DISTINCT publisher) > 1;
"""
cursor.execute(query)
results = cursor.fetchall()

for author, year, count in results:
    print(f"Author: {author}, Year: {year}, Book Count: {count}")

Author: Hamzan Wadi, Year: N/A, Book Count: 2

In [ ]:
# Write a SQL query to identify books that have an averageRating that is more than two standard deviations away from the average rating of all books. Return the title, averageRating, and ratingsCount for these outliers.

query = """
SELECT title, averageRating, ratingsCount
FROM books
WHERE averageRating > (SELECT AVG(averageRating) + 2 * STDDEV(averageRating) FROM books)
   OR averageRating < (SELECT AVG(averageRating) - 2 * STDDEV(averageRating) FROM books);
"""
cursor.execute(query)
results = cursor.fetchall()

for title, average_rating, ratings_count in results:
    print(f"Title: {title}, Average Rating: {average_rating}, Ratings Count: {ratings_count}")

Title: Mastering Emacs, Average Rating: 1.0, Ratings Count: 1
Title: Clean Architecture, Average Rating: 2.0, Ratings Count: 2
Title: XQuery Kick Start, Average Rating: 2.0, Ratings Count: 1
Title: Javascript In Easy Steps, Average Rating: 1.0, Ratings Count: 1
Title: Python Web Programming, Average Rating: 2.0, Ratings Count: 1

In [ ]:
# Create a query to find the average amount_retailPrice of eBooks and physical books. Return a single result set with columns for avg_ebook_price and avg_physical_price. Ensure to handle cases where either category may have no entries.

query = """
    SELECT
        AVG(CASE WHEN book_format = 'ebook' THEN amount_retail_price ELSE NULL END) AS avg_ebook_price,
        AVG(CASE WHEN book_format = 'physical' THEN amount_retail_price ELSE NULL END) AS avg_physical_price
    FROM books;
"""
cursor.execute(query)
result = cursor.fetchone()

result

(14.231707692307662, None)

In [ ]:
#Create a SQL query that determines which publisher has the highest average rating among its books, but only for publishers that have published more than 10 books. Return the publisher, average_rating, and the number of books published.

query = """
SELECT publisher, AVG(averagerating) AS average_rating, COUNT(*) AS book_count
FROM books
WHERE publisher IN (SELECT publisher FROM books GROUP BY publisher HAVING COUNT(*) > 10)
GROUP BY publisher
ORDER BY average_rating DESC
LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchone()

if result:
    publisher, average_rating, book_count = result
    print(f"Publisher: {publisher}, Average Rating: {average_rating}, Book Count: {book_count}")
else:
    print("No publisher found with more than 10 books.")

Publisher: CRC Press, Average Rating: 5.0, Book Count: 12

In [6]:
!pip install streamlit

Collecting streamlit
  Downloading streamlit-1.42.2-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.25.6)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.26.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.42.2-py2.py3-none-any.whl (9.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 53.8 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 70.1 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 4.9 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.42.2 watchdog-6.0.0

In [7]:
!pip install pyngrok

Collecting pyngrok
  Downloading pyngrok-7.2.3-py3-none-any.whl.metadata (8.7 kB)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.11/dist-packages (from pyngrok) (6.0.2)
Downloading pyngrok-7.2.3-py3-none-any.whl (23 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.2.3

In [8]:
!npm install localtunnel

⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸⠼⠴⠦⠧⠇⠏⠋⠙⠹⠸
added 22 packages in 4s
⠸
⠸3 packages are looking for funding
⠸  run `npm fund` for details
⠸

In [ ]:
!npm audit

⠙⠹⠸# npm audit report

axios  0.8.1 - 0.27.2
Severity: moderate
Axios Cross-Site Request Forgery Vulnerability - https://github.com/advisories/GHSA-wf5p-g6vw-rhxx
fix available via `npm audit fix --force`
Will install localtunnel@1.8.3, which is a breaking change
node_modules/axios
  localtunnel  >=1.9.0
  Depends on vulnerable versions of axios
  node_modules/localtunnel

2 moderate severity vulnerabilities

To address all issues (including breaking changes), run:
  npm audit fix --force
⠼

In [ ]:
!streamlit run /content/app.py & npx localtunnel --port 8501 & curl ipv4.icanhazip.com

34.169.215.26

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.

⠙
  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.169.215.26:8501

your url is: https://modern-falcons-pay.loca.lt

In [12]:
%%writefile app.py
import streamlit as st

Overwriting app.py

In [ ]:
import streamlit as st
import requests
import mysql.connector
import pandas as pd
st.title('📚BookScape Explorer')
st.header('Clickhere')


def get_db_connection():
    return mysql.connector.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port=4000,
        user="4ABAUzjWF71mucC.root",
        password="1vVrWbTp2oLR6led",
        database="book_store"
    )


def fetch_books_from_db():
    connection = get_db_connection()
    cursor = connection.cursor(dictionary=True)  # Dictionary cursor for column names
    cursor.execute("SELECT * FROM books LIMIT 1000")  # Fetch up to 1000 rows
    books = cursor.fetchall()
    cursor.close()
    connection.close()
    return books

if st.button("Fetch Books Data"):
    books_data = fetch_books_from_db()

    if books_data:
        df = pd.DataFrame(books_data)  # Convert to Pandas DataFrame
        st.success(f"✅ Loaded {len(df)} books successfully!")
        st.dataframe(df)  # Display in Streamlit table
    else:
        st.warning("⚠ No books found in the database!")